/**

 * @name !darklight, all in one
 * @version 1.4
 * @description Aby mieć wszytkie zmiany musisz mieć Everyfing offline, Modal Settings i tolbar aby to zrobić kliknij globus poniżej
 (opcje customizcji są na dole)
 * @author -_-
 * @website https://bit.ly/Bazix
 * @invite 

**/



.theme-dark,
.theme-light,
:root {
    --background-primary: #141414 !important;
    --background-secondary: #111111 !important;
    --background-secondary-alt: #000000 !important;
    --background-tertiary: #0c0c0c !important;
    --background-accent: #000000 !important;
    --background-floating: black !important; 
    --background-modifier-hover: rgba(15, 15, 15, 0.01) !important;
    --background-modifier-active: rgba(15, 15, 15, 0.01) !important;
    --background-modifier-selected: rgba(15, 15, 15, 0.01) !important;
    --background-modifier-accent: rgba(15, 15, 15, 0.01) !important;
    --channeltextarea-background: var(--background-accent) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;


}




.container-1giJp5{
background-color:   #111111; 
}

.container-3baos1{
  background-color:   #111111; 
}

.{
background-color:   #111111; 
}

.{
background-color:   #111111; 
}

.peopleColumn-29fq28 {background: #111111}


/* Dodatki /*


/* status własny i status */


#status-picker {
    margin-bottom: 5px;
}

#status-picker > div {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.statusItem-33LqPf {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.statusItem-33LqPf > svg {
    width: 16px;
    height: auto;
}

#status-picker .item-1tOPte {
    margin: 0;
    width: 25%;
}

#status-picker .status-1fhblQ,
#status-picker .description-2L932D,
#status-picker .separator-2I32lJ:nth-child(2) {
    display: none;
}

#status-picker .separator-2I32lJ,
#status-picker #status-picker-custom-status {
    display: block;
    width: 100%;
}

#status-picker-custom-status .status-1fhblQ {
    display: block;
    margin-left: 6px;
}

/*koniec statusu*/


/*zmiana działania przycisku szukaj*/

. {display:none}

. {display:none}

.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb { width: 27px; transition: 0.25s; background-color: transparent;}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; background-color: var(--background-tertiary);}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.3); transition: 0.25s;}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1);}
.icon-3cZ1F_ { color: var(--text-normal)}

/*usuwanie przycisku pomoc w discord*/

.user-settings.chat-3bRxxu,.toolbar-1t6TWx > a > div > svg {
    display: none;
}
/*mute defan and sttings*/

.container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
    width: 100px;
    opacity: 1;
    pointer-events: all;
}

/*animacje wyłaczone*/
--disable-animations: 2s channel-unread infinite;

/*brak scrolla*/
::-webkit-scrollbar { display: none;}.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.container-2Pjhx- { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .buttons-3JBrkn { padding-right: 10px !important;}

/*No nitro*/
[href="/store"], [aria-controls="Discord Nitro-tab"],[aria-controls="Billing-tab"],[aria-controls="Nitro Server Boost-tab"],
#guild-header-popout > div > .separator-2I32lJ:nth-child(2),.shinyButton-3uFlM-,
.emojiSection-3Fb9ix > .flex-1xMQg5 > .size14-e6ZScH,.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5 > .size14-e6ZScH,
.emptyStateSubtext-2hdA9c, .content-2c3hgM, .wrapper-1hrFc0, .wrapper-3nSjSv, .divider-Uf0Wob,
.perksModalContentWrapper-2HU6uL > .content-2qfHzC:nth-child(3),.guildsBlurb-2AgVCC,.marketingHeader-d16BX1,
.content-3BhRLj > div:not(.marketingLogo-1D8DV6), .content-3BhRLj > h3,.subscribeTooltipWrapper-1JoUuw,
.headerBlurb-1GxBrq,.giftAction-yhDLaW,.tierMarkerLabelContainer-1qM0Ak, .upsell-34F9Me,
.premiumPromo-fVlLu-,.stickerShopIconWrapper-2SZmQ6,.selectorButtonPremiumRequired-mKMbIu,.premiumUpsell-2vHaVa { display: none;}
.emojiSection-3Fb9ix > .flex-1xMQg5, .popoutContainer-1MXdqN > .flex-1xMQg5 { flex-direction: column; align-items: center;}
.emojiSection-3Fb9ix > .flex-1xMQg5 > .flex-1xMQg5,
.popoutContainer-1MXdqN > .flex-1xMQg5 > .flex-1xMQg5 { margin-left: 0px; }
.primaryEmoji-3LinDq { margin: 0px 0px 12px 0; }
.popoutContainer-1MXdqN { width: auto; }
.ctaBar-2UsjF2 { margin: auto;}
.wrapper-2iFQJ9 > .header-2k4I2o > .wrapper-3ir_7D { padding-right: 0;}
.settingsGroup-2NaPKC .item-3T2z1R:nth-child(2) { border-radius: 0 3px 3px 0;}

/*Koniec No nitro*/

/*księżyc (prawy górny)*/

@import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css);
.titleBar-AC4pGV.typeWindows-1za-n7::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>') center/100% no-repeat;
    width: 16px;
    height: 16px;
    left: 5px;
    top: 3px;
}
.titleBar-AC4pGV .wordmark-2iDDfm svg {
    width: 0;
}

/*discord button pinned*/
.guilds-1SWlCJ .tree-2wKJdG:focus {
  outline-color: transparent;
}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;
}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
  position: fixed;
  transform: translatey( -100% );
}


/*spoiler blur*/
.spoilerText-3p6IlD,
.spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: transparent !important;
}

.spoilerText-3p6IlD.hidden-HHr2R9 > .inlineContent-3ZjPuv {
    opacity: 1 !important;
    filter: blur(3px);
    pointer-events: unset;
}

/*dm list chnge size*/

:root { --sidebar-initial-width: 240px; }
.sidebar-2K8pFh {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}
.sidebar-2K8pFh .channel-2QD9_O { max-width: unset; }
.bannerImage-3KhIJ6 { width: 100%; }

.button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 grow-q77ONN
.buttonWrapper-1ZmCpA
.contents-18-Yxp button-3AYNKb translateButton-DhP9x8 button-318s1X{
    Display:none;
}

/*No scroolbar*/
::-webkit-scrollbar { display: none;}.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.container-2Pjhx- { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .buttons-3JBrkn { padding-right: 10px !important;}


.toolbar-1t6TWx > .iconWrapper-2OrFZ1[role="switch"]:first-child { display: none;}

/*popup*/
.userPopout-3XzG_A {--user-popout-position: center}
.userPopout-3XzG_A .header-2BwW8b {transform:translateZ(0); z-index: 1}
#app-mount .userPopout-3XzG_A .wrapper-3t9DeA::after {
    content: ''; position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: .5;
    background: var(--user-background) var(--user-popout-position) center / cover no-repeat
}

/*customizacja

!!!!!!Dotykaj tylko rzeczy wyglądających w ten sposób (chyba że na zielono jest napisane że możesz to ruszać):rgb(jakąś liczba)!!!!

/*Gdy mówisz jaki kolor ma obwódka*

/*                                       to możesz zmienić na dowolny kolor
/*Serwery*/                                               ↓
.avatarSpeaking-2IGMRN {box-shadow: inset 0 0 0 2px  rgb(123, 0, 255),inset 0 0 0 3px var(--background-secondary)} /*Domyślne:rgb(173, 79, 239)*/    /*Zmieniamy tylko kolor fioletowy*/
/* Wiadomości prywatne */
.border-Jn5IOt.speaking-B2MXPi {box-shadow: inset 0 0 0 2px  rgb(123, 0, 255),inset 0 0 0 3px var(--background-floating)} /*Domyślne:rgb(173, 79, 239)*/    /*Zmieniamy tylko kolor fioletowy*/
/* Podaczas połączenia */
.border-3dQmSY.speaking-WDn8Wm {box-shadow: inset 0 0 0 2px rgb(123, 0, 255), inset 0 0 0 3px #000000} /*Domyślne:rgb(173, 79, 239)*/    /*Zmieniamy tylko kolor fioletowy*
/*                                                                                                 ↑                                                                                                                                                                                                                                                */
/* Menu użytkownika                                                                           Tego nie dotykaj                                                                                                                                                                                                                                                                      */                                                                            
.avatarSpeaking-2c8-9i {box-shadow: inset 0 0 0 2px rgb(123, 0, 255),inset 0 0 0 3px var(--background-secondary)} /*Domyślne:rgb(173, 79, 239)*/    /*Zmieniamy tylko kolor fioletowy*/

/*Kolor oznaczenia gdy na nie najedziesz kursorem*/

.mention {
    background-color:rgb(123, 0, 255);
    color: rgb(173, 79, 239);
}

.mention:hover {
    background-color:rgb(123, 0, 255);/*←←←←To możesz edytować(to w nawiasach)*/
    color: #000000;/*←←←←Tego nie edytuj*/
}

